/* Info */
.info {
    padding: 375px 0 100px;

    background-color: #EFF2F3;
}
.info-inner {
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.info__item {
    width: 32.14%;
    padding: 40px 0 0;

    text-align: center;

    background-color: #fff;

    position: relative;
}
.info__item--title {
    margin-bottom: 20px;

    font-size: 32px;
    line-height: 47px;
    text-transform: uppercase;
    color: #00755F;

    background: url(../img/info/info-item__icon1.svg) 23% 2px/38px 36px no-repeat;
}
.info__item:nth-of-type(2) .info__item--title {
    background: url(../img/info/info-item__icon2.svg) 31% 0 no-repeat;
}
.info__item:last-of-type .info__item--title {
    background: url(../img/info/info-item__icon3.svg) 23% 0 no-repeat;
}
.info__item--subtitle {
    margin-bottom: 40px;

    font-size: 20px;
    line-height: 20px;
}
.info__item--txt {
    margin-bottom: 85px;
    padding: 0 40px;

    font-family: 'Amiri', serif;
    line-height: 27px;
}
.info__item--link {
    width: max-content;

    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: inherit;

    position: absolute;
    bottom: 20px;
    left: 50%;

    transform: translateX(-50%);
    transition: all .3s linear;
}
.info__item--link:hover {
    color: #00755F;
}
.info__item--link:active {
    color: #024e40;
}
.info__item--link::after {
    content: "";
    width: 100%;
    height: 1px;

    background-color: #00755F;

    transform: scale(0);
    transition: all .3s linear;

    position: absolute;
    bottom: -2px;
    left: 0;
}
.info__item--link:hover::after {
    transform: scale(1);
}



/* Media Queries */
@media (min-width : 1530px) {
    .info-inner {
        max-width: 1440px;
    }
    .info__item {
        padding: 45px 0 0;
    }
    .info__item--title {
        background-position: 26% 2px;
    }
    .info__item:nth-of-type(2) .info__item--title {
        background-position: 33% 0;
    }
    .info__item:last-of-type .info__item--title {
        background-position: 26.5% 0;
    }
    .info__item--txt {
        padding: 0 50px;
        margin-bottom: 105px;
    }
}



@media (min-width : 1664px) {
    .info {
        padding: 400px 0 125px;
    }
    .info__item {
        padding: 50px 50px 0;
    }
    .info__item--title {
        font-size: 36px;
        line-height: 48px;

        background-position: 17% 2px;
    }
    .info__item:nth-of-type(2) .info__item--title {
        background-position: 27% 0;
    }
    .info__item:last-of-type .info__item--title {
        background-position: 16% 0;
    }
    .info__item--subtitle {
        font-size: 22px;
        line-height: 22px;
    }
    .info__item--txt {
        margin-bottom: 120px;
        font-size: 20px;
    }
    .info__item--link {
        font-size: 20px;

        bottom: 30px;
    }
}


@media (min-width : 1920px) {
    .info {
        padding: 450px 0 150px;
    }
    .info-inner {
        max-width: 1800px;
    }
    .info__item {
        padding: 60px 0 0;
    }
    .info__item--title {
        margin-bottom: 35px;

        font-size: 42px;
        line-height: 52px;

        background: url(../img/info/info-item__icon1.svg) 25% -4px/52px 52px no-repeat;
    }
    .info__item:nth-of-type(2) .info__item--title {
        background: url(../img/info/info-item__icon2.svg) 32% 0/60px 50px no-repeat;
    }
    .info__item:last-of-type .info__item--title {
        background: url(../img/info/info-item__icon3.svg) 26% 0/60px 52px no-repeat;
    }
    .info__item--title {

    }
    .info__item--subtitle {
        font-size: 32px;
        line-height: 36px;
    }
    .info__item--txt {
        margin-bottom: 145px;
        padding: 0 60px;
        font-size: 24px;
        line-height: 32px;
    }
    .info__item--link {
        font-size: 24px;

        bottom: 40px;
    }
}



@media (max-width : 1280px) {
    .info {
        padding: 325px 40px 100px
    }
    .info-inner {
        width: 100%;
    }
    .info__item {
        padding: 40px 20px 0;
    }
    .info__item--title {
        width: 215px;
        margin: 0 auto 20px;

        font-size: 30px;

        background: url(../img/info/info-item__icon1.svg) 0 3px/33px 33px no-repeat;
    }
    .info__item:nth-of-type(2) .info__item--title {

        background: url(../img/info/info-item__icon2.svg) 25px -2px/40px 40px no-repeat;
    }
    .info__item:last-of-type .info__item--title {
        background: url(../img/info/info-item__icon3.svg) 0 0/37px 37px no-repeat;
    }
    .info__item--txt {
        padding: 0;
    }
}



@media (max-width : 1024px) {
    .info {
        padding: 245px 40px 100px;
    }
    .info__item--title {
        width: 200px;
        margin-bottom: 15px;

        font-size: 26px;
        line-height: 42px;
    }
    .info__item--subtitle {
        margin-bottom: 30px;
    }

}


@media (max-width : 991px) {
    .info {
        padding: 200px 30px 80px;
    }
    .info-inner {
        flex-direction: column;
        align-items: center;
    }
    .info__item {
        width: 530px;
        padding-left: 100px;
        padding-right: 100px;
        margin-bottom: 50px;
    }
    .info__item:last-child {
        margin-bottom: 0;
    }
    .info__item--txt {
        margin-bottom: 100px;
    }
}



@media (max-width : 568px) {
    .info {
        padding-top: 165px;
    }
    .info__item {
        width: 400px;
        padding: 30px 35px;
    }
}



@media (max-width : 432px) {
    .info {
        padding: 100px 20px 60px;
    }
    .info__item {
        width: 100%;
        padding-left: 25px;
        padding-right: 25px;
        margin-bottom: 35px;
    }
    .info__item--title {
        font-size: 24px;
        line-height: 36px;

        background: url(../img/info/info-item__icon1.svg) 5px 0/30px 30px no-repeat;
    }
    .info__item:nth-of-type(2) .info__item--title {
        background: url(../img/info/info-item__icon2.svg) 27px -3px/35px 35px no-repeat;
    }
    .info__item:nth-of-type(3) .info__item--title {
        background: url(../img/info/info-item__icon3.svg) 10px 0/33px 33px no-repeat;
    }
    .info__item--subtitle {
        font-size: 18px;
    }
    .info__item--txt {
        font-size: 16px;
    }
}


@media (max-width: 375px) {
    .info {
        padding: 75px 0 60px;
    }
    .info__item--txt {
        margin-bottom: 75px;
    }
}



@media (max-width: 320px) {
    .info__item {
        padding: 30px 12.5px 0;
    }
    .info__item--link {
        bottom: 15px;
    }
}
