@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Gothic+A1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');
@import url(../css/header.css);
@import url(../css/service.css);
@import url(../css/benefits.css);
@import url(../css/info.css);
@import url(../css/reviews.css);
@import url(../css/demonstrate.css);
@import url(../css/popup.css);
@import url(../css/footer.css);


body {
    font-size: 18px;
    font-family: 'Gothic A1', sans-serif;
    color: #002B40;
}

.container {
    padding: 0 80px;
}



/* Media Queries */
@media (min-width: 1530px) {
    .container {
        padding: 0;
        max-width: 1440px;
    }
}



@media (min-width: 1664px) {
    .container {
        margin: 0 auto;
    }
}



@media (min-width: 1920px) {
    .container {
        max-width: 1530px;
    }
}



@media (max-width: 1440px) {
    .container {
        padding: 0 60px;
    }
}



@media (max-width: 1100px) {
    .container {
        padding: 0 40px;
    }
}



@media (max-width: 991px) {
    .container {
        padding: 0 30px;
    }
}



@media (max-width: 568px) {
    .container {
        padding: 0 20px;
    }
}



@media (max-width: 360px) {
    .container {
        padding: 0 15px;
    }
}